<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="icon" href="/favicon.svg" type="image/svg+xml" /> -->

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Own CSS -->
    <link rel="stylesheet" href="/bootstrap.min.css" />

    <title>{{#block "title"}}{{/block}}</title>
  </head>
  <body>
    <div class="w-full bg-gray-800 min-h-full">
      <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-5">
        {{#block "content"}}{{/block}}
      </section>
    </div>
    {{#block "js"}}{{/block}}
    <script src="/bootstrap.min.js"></script>
  </body>
</html>
